* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* 1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...) */


/* Common */
.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.float-right {
    float: right !important;
}

.btn {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
    border: none;
    width: 100%;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

/* Main */
#main {}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    line-height: 46px;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav .subnav li {
    display: block;
}

#nav>li>a {
    text-transform: uppercase;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover,
#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;



}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .ti-menu {

    color: #000;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .ti-menu,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}







#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    font-weight: bolder;
}

#content {}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 70px 16px 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 4px;
}

#content .section-subheading {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: 1px;
}

#content .member-list {
    margin-top: 42px;
}



#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* Tour-section */
.tour-section {
    background-color: #000;
}

.book-tickets {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.book-tickets li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.book-tickets .sold-out {
    background-color: #F44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.book-tickets .quantity {
    float: right;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 24px;
    margin-top: -3px;
}

.places-list {
    margin-top: 16px;
}


.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    font-size: 15px;
    padding-top: 20px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;

}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}


/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;

}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map section */
.map-section img {
    width: 100%;
}

.grayscale {
    filter: grayscale(50%);
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .socials-list a:hover {
    opacity: 0.7;
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 470px;
    position: relative;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    animation: modalFadeIn ease 0.5s;
    font-style: initial;
}

.modal-header {
    background: #009688;
    color: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close:hover {
    background-color: #f44336;
}

.modal-close {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-body {
    padding: 0 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 18px;
    margin-top: 18px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

#buy-tickets {
    background: #009688;
    color: #fff;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    border: none;
}

#buy-tickets:hover {
    background: #f44336;
    color: #000;
}

.modal-footer {
    float: right;
    margin: 32px 16px 0;

}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}